   
    <div class="row" style="margin: 50px;"> 
        <div class="col-lg-9 main-chart">
          <!--CUSTOM CHART START -->
          <div class="border-head">
            <h3>USER VISITS</h3>
          </div>
         

          <div class="custom-bar-chart">
            <ul class="y-axis">
              <li><span>10.000</span></li>
              <li><span>8.000</span></li>
              <li><span>6.000</span></li>
              <li><span>4.000</span></li>
              <li><span>2.000</span></li>
              <li><span>0</span></li>
            </ul>

            <!-- value inside div should be changed -->
            <div class="bar">
              <div class="title">JAN</div>
              <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
            </div>
            <div class="bar ">
              <div class="title">FEB</div>
              <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
            </div>
            <div class="bar ">
              <div class="title">MAR</div>
              <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
            </div>
            <div class="bar ">
              <div class="title">APR</div>
              <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
            </div>
            <div class="bar">
              <div class="title">MAY</div>
              <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
            </div>
            <div class="bar ">
              <div class="title">JUN</div>
              <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
            </div>
            <div class="bar">
              <div class="title">JUL</div>
              <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
            </div>
          </div>
          <!--custom chart end-->
          <div class="row mt">
            <!-- SERVER STATUS PANELS -->
            <!-- /col-md-4 -->
            <div class="col-md-12 col-sm-12 mb">
              <!-- REVENUE PANEL -->
              <div class="green-panel pn">
                <div class="green-header">
                  <h5>REVENUE</h5>
                </div>
                <div class="chart mt">
                  <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
                </div>
                <p class="mt"><b>$ 17,980</b><br/>Month Income</p>
              </div>
            </div>
           
            <!-- /col-md-4 -->
          </div>
          <!-- /row -->
          <div class="row">
            <!-- WEATHER PANEL -->
            
            <!-- /col-md-4-->
            <div class="col-md-4 mb">
              <div class="weather pn">
                <i class="fa fa-cloud fa-4x"></i>
                <h2>11º C</h2>
                <h4>BUDAPEST</h4>
              </div>
            </div>
            <!-- DIRECT MESSAGE PANEL -->
            <div class="col-md-8 mb">
              <div class="message-p pn">
                <div class="message-header">
                  <h5>DIRECT MESSAGE</h5>
                </div>
                <div class="row">
                  <div class="col-md-3 centered hidden-sm hidden-xs">
                    <img src="assets/dashboard/img/ui-danro.jpg" class="img-circle" width="65">
                  </div>
                  <div class="col-md-9">
                    <p>
                      <span>Dan Rogers</span>
                      sent you a message.
                    </p>
                    <p class="small">3 hours ago</p>
                    <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <form class="form-inline" role="form">
                      <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputText" placeholder="Reply Dan">
                      </div>
                      <button type="submit" class="btn btn-default">Send</button>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /Message Panel-->
            </div>
            <!-- /col-md-8  -->
          </div>



          <div class="row">
          <h1 style="margin-left: 15px;">Top Sales of the Month</h1>
          <hr style="width: 95%;margin-left: 15px; border:2px solid" />
            <div class="col-lg-4 col-md-4 col-sm-4 mb">
              <div class="product-panel-2 pn">
                <div class="badge badge-hot">HOT</div>
                <img src="assets/dashboard/img/product.jpg" width="200" alt="">
                <h5 class="mt">Flat Pack Heritage</h5>
                <h6>TOTAL SALES: 1388</h6>
                <button class="btn btn-small btn-theme04">FULL REPORT</button>
              </div>
            </div>
            <!-- /col-md-4 -->
            <!--  PROFILE 02 PANEL -->
            <div class="col-lg-4 col-md-4 col-sm-4 mb">
              <div class="product-panel-2 pn">
                <div class="badge badge-hot bg-info">HOT</div>
                <img src="assets/dashboard/img/product2.jpg" width="200" alt="">
                <h5 class="mt">Flat Pack Heritage</h5>
                <h6>TOTAL SALES: 1388</h6>
                <button class="btn btn-small btn-info">FULL REPORT</button>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 mb">
              <div class="product-panel-2 pn">
                <div class="badge badge-hot bg-primary">HOT</div>
                <img src="assets/dashboard/img/product3.jpg" width="200" >
                <h5 class="mt">Flat Pack Heritage</h5>
                <h6>TOTAL SALES: 1388</h6>
                <button class="btn btn-small btn-theme04">FULL REPORT</button>
              </div>
            </div>
            </div>
          <!-- /row -->
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 mb">
              <div class="product-panel-2 pn">
                <div class="badge badge-hot">HOT</div>
                <img src="assets/dashboard/img/product4.jpg" width="200" alt="">
                <h5 class="mt">Flat Pack Heritage</h5>
                <h6>TOTAL SALES: 1388</h6>
                <button class="btn btn-small btn-theme04">FULL REPORT</button>
              </div>
            </div>
            <!-- /col-md-4 -->
            <!--  PROFILE 02 PANEL -->
            <div class="col-lg-4 col-md-4 col-sm-4 mb">
              <div class="product-panel-2 pn">
                <div class="badge badge-hot">HOT</div>
                <img src="assets/dashboard/img/product.jpg" width="200" alt="">
                <h5 class="mt">Flat Pack Heritage</h5>
                <h6>TOTAL SALES: 1388</h6>
                <button class="btn btn-small btn-theme04">FULL REPORT</button>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 mb">
              <div class="product-panel-2 pn">
                <div class="badge badge-hot">HOT</div>
                <img src="assets/dashboard/img/product2.jpg" width="200" alt="">
                <h5 class="mt">Flat Pack Heritage</h5>
                <h6>TOTAL SALES: 1388</h6>
                <button class="btn btn-small btn-theme04">FULL REPORT</button>
              </div>
            </div>
            </div>
          <!-- /row -->
        </div>
        <!-- /col-lg-9 END SECTION MIDDLE -->
        <!-- **********************************************************************************************************************************************************
            RIGHT SIDEBAR CONTENT
            *********************************************************************************************************************************************************** -->
        <div class="col-lg-3 ds">
          <!--COMPLETED ACTIONS DONUTS CHART-->
          <div class="donut-main">
            <h4>COMPLETED ACTIONS & PROGRESS</h4>
            <canvas id="newchart" height="130" width="130"></canvas>
            <script>
              var doughnutData = [{
                  value: 70,
                  color: "#4ECDC4"
                },
                {
                  value: 30,
                  color: "#fdfdfd"
                }
              ];
              var myDoughnut = new Chart(document.getElementById("newchart").getContext("2d")).Doughnut(doughnutData);
            </script>
          </div>
          <!--NEW EARNING STATS -->
          <div class="panel terques-chart">
            <div class="panel-body">
              <div class="chart">
                <div class="centered">
                  <span>TODAY EARNINGS</span>
                  <strong>$ 890,00 | 15%</strong>
                </div>
                <br>
                <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
              </div>
            </div>
          </div>
          <!--new earning end-->
          <!-- RECENT ACTIVITIES SECTION -->
          <h4 class="centered mt">RECENT ACTIVITY</h4>
          <!-- First Activity -->
          <div class="desc">
            <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
            </div>
            <div class="details">
              <p>
                <span>Just Now</span>
                <br/>
                <a href="#">Paul Rudd</a> purchased an item.<br/>
              </p>
            </div>
          </div>
          <!-- Second Activity -->
          <div class="desc">
            <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
            </div>
            <div class="details">
              <p>
                <span>2 Minutes Ago</span>
                <br/>
                <a href="#">James Brown</a> subscribed to your newsletter.<br/>
              </p>
            </div>
          </div>
          <!-- Third Activity -->
          <div class="desc">
            <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
            </div>
            <div class="details">
              <p>
                <span>3 Hours Ago</span>
                <br/>
                <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
              </p>
            </div>
          </div>
          <!-- Fourth Activity -->
          <div class="desc">
            <div class="thumb">
              <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
            </div>
            <div class="details">
              <p>
                <span>7 Hours Ago</span>
                <br/>
                <a href="#">Brando Page</a> purchased a year subscription.<br/>
              </p>
            </div>
          </div>
          <!-- USERS ONLINE SECTION -->
          <h4 class="centered mt">TEAM MEMBERS ONLINE</h4>
          <!-- First Member -->
          <div class="desc">
            <div class="thumb">
              <img class="img-circle" src="assets/dashboard/img/ui-divya.jpg" width="35px" height="35px" align="">
            </div>
            <div class="details">
              <p>
                <a href="#">DIVYA MANIAN</a><br/>
                <span>Available</span>
              </p>
            </div>
          </div>
          <!-- Second Member -->
          <div class="desc">
            <div class="thumb">
              <img class="img-circle" src="assets/dashboard/img/ui-sherman.jpg" width="35px" height="35px" align="">
            </div>
            <div class="details">
              <p>
                <a href="#">DJ SHERMAN</a><br/>
                <span>I am Busy</span>
              </p>
            </div>
          </div>
          <!-- Third Member -->
          <div class="desc">
            <div class="thumb">
              <img class="img-circle" src="assets/dashboard/img/ui-danro.jpg" width="35px" height="35px" align="">
            </div>
            <div class="details">
              <p>
                <a href="#">DAN ROGERS</a><br/>
                <span>Available</span>
              </p>
            </div>
          </div>
          <!-- Fourth Member -->
          <div class="desc">
            <div class="thumb">
              <img class="img-circle" src="assets/dashboard/img/ui-zac.jpg" width="35px" height="35px" align="">
            </div>
            <div class="details">
              <p>
                <a href="#">Zac Sniders</a><br/>
                <span>Available</span>
              </p>
            </div>
          </div>
        </div>
      </div>

