/* .loginarea{
    width: 70%;
    background-color: #eee;
    margin: auto;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}
.login, .register{
    margin: auto;
    padding: 20px;
    
}
.show{
    width: fit-content;
} */
